@model PostModel
<div id="@Model.Id" class="card border-dark mb-3 shadow-lg" style="max-width: 30rem; min-width: 25rem; ">
    <div class="card-header bg-transparent border-dark">
        <div class="row">
            <div class="col-2">
                <a asp-controller="User" asp-action="Profile" asp-route-userId="@Model.UserId">
                    <img src="~/userImages/@(Model.UserName).jpeg" alt="" class="rounded-circle" width="50px" height="50px">
                </a>
            </div>
            <div class="col-8">
                <div>
                    <bold><a asp-controller="User" asp-action="Profile" asp-route-userId="@Model.UserId" class="text-decoration-none text-dark">@Model.UserName</a></bold> 
                    @if(Model.IsApproved==true)
                    {
                        <span><img src="~/icons/mavi-tik1.png" alt="" width="20px" class="rounded-circle"></span>
                    }
                    
                </div>
                <div>
                    <small>@Model.CreatedAt</small>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Şikayet et</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-dark p-0 m-0">
        <div style="overflow: hidden; width:30rem; height:450px">
            <img src="~/postImages/@Model.ImageUrl" alt="" class="img-fluid"
                style="height: 100%; width: 100%; object-fit: cover;">
        </div>
        <div class="p-2 m-0 truncate-text">
            <p class="m-0">@Model.Content</p>
        </div>
    </div>
    <div class="card-footer bg-transparent border-dark d-flex">
        <div class="d-inline me-4">
            <div class="d-flex">
                <div class="d-inline" style="height: 30px;">
                    <form asp-controller="Home" asp-action="Like" method="post" class="text-decoration-none text-dark">
                        <input type="hidden" name="postId" value="@Model.Id">
                        <button class="border-0" style="background-color: transparent;">
                            @if(Model.IsLike==true)
                            {
                                <i class="fa-solid fa-heart" style="color: #d50707;"></i>
                            }else{
                                <i class="fa-regular fa-heart"></i>
                            }
                            
                        </button>
                    </form>
                </div>
                @* <div>
                    <form asp-controller="Home" asp-action="Likes" method="post" class="text-decoration-none text-dark">
                        <input type="hidden" name=postId value="@Model.Id">
                        <button type="button" class="border-0" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: transparent;">
                            @Model.LikesCount
                        </button>
                    </form>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <partial name="_LikesMoldal"></partial>
                </div> *@
                <a asp-controller="Home" asp-action="Likes" asp-route-postId="@Model.Id" class="text-decoration-none text-dark"><span class="ms-2">@Model.LikesCount</span></a>
            </div>
        </div>
        <div class="d-inline me-4">
            <div>
                <a asp-controller="Home" asp-action="Comments" asp-route-postId="@Model.Id" class="text-decoration-none text-dark">
                    <i class="fa-regular fa-comment"></i><span class="ms-2">@Model.CommentsCount</span>
                </a>
            </div>
        </div>
        <div class="d-inline me-4">
            <div>
                <a href="/" class="text-decoration-none text-dark">
                    <i class="fa-regular fa-bookmark"></i><span class="ms-2">Kaydet</span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <form asp-controller="Home" asp-action="Comment" method="post" class="d-block">
            <input type="hidden" name="postId" value="@Model.Id">
            <div class="input-group mx-1 mb-1 w-100 pe-2">
                <textarea class="form-control" placeholder="Yorum yap..." id="floatingTextarea" name="comment" style="max-height:350px; min-height:50px;" maxlength="300"></textarea>
                <button class="btn btn-outline-dark">Gönder</button>
            </div>
        </form>
    </div>
</div>