@model List<BlueTickApplicationModel>

@{
    Layout="_Layout3";
    ViewData["title"]="Başvurular";
}

<div class="my-5">
    <div class="mb-5">
        <h2 class="h2 text-center text-dark">Başvurular</h2>
    </div>
    <div class="row">
        <div class="col-12">
            @if(TempData["Message"]!=null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Message"]
                </div>
            }
        </div>
        <div class="col-12 mb-5">
            <form asp-controller="Admin" asp-action="ApplicationList" method="post" class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Başvuru ara ara..." aria-label="Search" name="search" class="border border-2 boder-dark">
                <button class="btn btn-outline-warning" type="submit"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
            </form>
        </div>
        @if(Model.Count>0)
        {
            <div class="col-12">
                <table class="table table-warning table-striped border border-1 border-dark">
                    <thead>
                        <tr>
                            <th scope="col"
                            style="width: 75px;">Profil Resmi</th>
                            <th scope="col" style="width: 200px;">Kullanıcı Adı</th>
                            <th scope="col" style="width: 200px;">Açıklama</th>
                            <th scope="col"style="width: 50px;">Onayıla</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <th scope="row">
                                    <img src="~/userImages/@(item.UserName).jpeg" alt="" width="150px" height="150px" class="rounded-circle border border-1 border-dark" >
                                </th>
                                <td>
                                    <span class="ms-2">@item.UserName</span>
                                </td>
                                <td>
                                    <span class="ms-2">@item.Description</span>
                                </td>
                                <td>
                                    <form asp-controller="Admin" asp-action="BlueTickActive" method="post">
                                        <input type="hidden" name="id" value="@item.Id">
                                        <input type="hidden" name="userName" value="@item.UserName">
                                        <button class="btn btn-warning">Onayla</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }else{
            <div class="col-12 d-flex justify-content-center">
                <div class="alert alert-warning" role="alert">
                    Şuan da mavi tik başvurusu bulunmamaktadır.
                </div>
            </div>
        }
    </div>
</div>